
// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.controls{
    display:flex;
    column-gap:20px;
    align-items: center;
}
.form-row{
    justify-content: space-evenly;
    margin: 20px
}
.message{
    box-sizing: border-box;
    height:30px;
    background-color: rgb(57, 124, 58);
    border: rgb(0, 0, 0);
    margin: 0 0 20px 0;
    padding-left: 25px;
    padding-right: 25px;
}
.rating-form{
    display:flex;
    column-gap:10px;
}
.rating-input{
    display:block;
}
